{
  "extends": [
    "standard",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "env": {
    "browser": true,
    "jasmine": true,
    "mocha": true
  },
  "globals": {
    "browser": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2017
  },
}
