{
  "extends": [
    "standard",
    "prettier",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "flowtype",
    "prettier",
  ],
  "rules": {
    "prettier/prettier": "error"
  },
  "env": {
    "browser": true,
    "jasmine": true,
  }
}
