{
  "extends": [
    "prettier",
    "standard",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "env": {
    "browser": true,
    "jasmine": true,
    "mocha": true
  },
  "globals": {
    "browser": true,
    "Class": true
  },
  "rules": {
    "prefer-const": 2
  }
}