version: 2
jobs:
  build:
    docker:
      - image: leeaandrob/paratii-portal:0.0.6
      - image: circleci/mongo:latest
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "yarn.lock" }}
      - run: yarn --pure-lockfile
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "yarn.lock" }}
      # - run: yarn run quality
      # - run: yarn run unit-test-circleci
      - run:
          command: yarn run parity
          background: true
      - run:
          command: yarn run build:test
          background: true
      - run: yarn run setup-dev-env
      - run:
          command: yarn run server:test
          background: true
      - run: node src/scripts/waitForServer.js    
      - run: yarn run chimp-test
      - deploy:
          command: |
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              ./deploy.sh production
            fi
            if [ "${CIRCLE_BRANCH}" == "dev" ]; then
              ./deploy.sh staging
            fi
