version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8.9.1-browsers
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "yarn.lock" }}
          - v1-dependencies-
      - run: bash <(curl https://get.parity.io -Lk)
      - run: yarn install
      # the next line is a workaround around a web3 bug tracked here https://github.com/ethereum/web3.js/issues/1234
      - run: npm install web3@1.0.0-beta.27 --save
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "yarn.lock" }}
      - run: yarn run quality
      - run: yarn run unit-test
      - run:
          command: yarn run parity
          background: true
      - run:
          command: yarn run build:dev
          background: true
      - run: yarn run chimp-test
      - run: yarn run build
      - deploy:
          command: |
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              ./deploy.sh production
            fi
            if [ "${CIRCLE_BRANCH}" == "dev" ]; then
              ./deploy.sh staging
            fi
